In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('price.csv')

In [7]:
df

  product     price
0   Apple   $10.25
1  Banana   $12.25
2   Apple   $14.25
3  Banana   $16.25
4   Apple   $18.25
5  Banana       NaN
6   Apple   $22.25
7  Banana   $24.25
8   Apple   $26.25

In [8]:
df = pd.DataFrame(df)

In [9]:
print("Original DataFrame:")
print(df)

Original DataFrame:
  product     price
0   Apple   $10.25
1  Banana   $12.25
2   Apple   $14.25
3  Banana   $16.25
4   Apple   $18.25
5  Banana       NaN
6   Apple   $22.25
7  Banana   $24.25
8   Apple   $26.25

In [10]:
df['price'] = df['price'].str.replace('$', '')  # Remove dollar signs if any
df['price'] = pd.to_numeric(df['price'], errors='coerce')  # Convert to numeric, setting errors to NaN
df['price'].fillna(df['price'].mean(), inplace=True)  # Fill NaN values with the mean

In [11]:
df['product'] = df['product'].str.lower()  # Convert all to lowercase

In [12]:
corrections = {
    'bananna': 'banana',
    'oranges': 'orange'
}

In [13]:
df['product'] = df['product'].replace(corrections)

In [14]:
print("\nCleaned DataFrame:")
print(df)

Cleaned DataFrame:
  product  price
0   apple  10.25
1  banana  12.25
2   apple  14.25
3  banana  16.25
4   apple  18.25
5  banana  18.00
6   apple  22.25
7  banana  24.25
8   apple  26.25