In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ratting.csv')

In [3]:
df

  Product  Price  Rating
0       A  10.25     4.5
1       B  20.15     4.7
2       C  30.05     4.9
3       D  39.95     5.1
4       E  49.85     5.3
5       F  59.75     5.5

In [5]:
df = pd.DataFrame(df)

In [6]:
sorted_df = df.sort_values(by=['Price', 'Rating'], ascending=[True, False])

In [7]:
print(sorted_df)

  Product  Price  Rating
0       A  10.25     4.5
1       B  20.15     4.7
2       C  30.05     4.9
3       D  39.95     5.1
4       E  49.85     5.3
5       F  59.75     5.5

In [8]:
sorted_df

  Product  Price  Rating
0       A  10.25     4.5
1       B  20.15     4.7
2       C  30.05     4.9
3       D  39.95     5.1
4       E  49.85     5.3
5       F  59.75     5.5