In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('product.csv')

In [3]:
df

  product  price  quantity
0       A     10       100
1       B     20       150
2       C     30       175
3       D     25       185
4       E     15       145
5       F     35       190

In [4]:
df['total_revenue'] = df['price'] * df['quantity']

In [5]:
df

  product  price  quantity  total_revenue
0       A     10       100           1000
1       B     20       150           3000
2       C     30       175           5250
3       D     25       185           4625
4       E     15       145           2175
5       F     35       190           6650

In [7]:
df = pd.DataFrame(df)

In [8]:
df

  product  price  quantity  total_revenue
0       A     10       100           1000
1       B     20       150           3000
2       C     30       175           5250
3       D     25       185           4625
4       E     15       145           2175
5       F     35       190           6650